[Unit]
Description=A rule based proxy tunnel
After=network-online.target nftables.service iptabels.service

[Service]
Type=simple
ExecStartPre=+/lib/clash/cgroup.sh
ExecStart=/bin/bypass-proxy /bin/clash -d /etc/clash
ExecStartPost=/lib/clash/rules.sh setup
ExecStopPost=/lib/clash/rules.sh clean

[Install]
WantedBy=multi-user.target
